* {
    box-sizing: border-box;

}

body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    font-family: 'Amiri', serif

}

.header {
    background-color:white;  
    padding: 20px;
    text-align: left;
    margin-top: 0;
    border: 2px;
    border-radius: 8px;

}

.topnavigation {
    overflow:hidden;
    background-color:lightseagreen;
    border-radius: 8px;
    font-size: 150%;

}

.topnavigation a {
    float: right;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.topnavigation a:hover {
    background-color: #ddd;
    color: black;

}

.about {
    background-color: white;
    margin-top: 10px;
    border: 20px;
    border-radius: 8px;
    overflow: scroll;   
    
}

.about-heading {
    position: sticky;
    padding: 10px;
    background-color: lightseagreen;
    margin: 25px;
    border-radius: 12px;
    text-align: center;
    color: white;
       
}

.projects {
    background-color: white;
    margin-top: 10px;
    border: 20px;
    border-radius: 8px;

}

.projects-heading {
    position: sticky;
    padding: 10px;
    background-color: lightseagreen;
    margin: 25px;
    border-radius: 12px;
    text-align: center;
    color: white;
       
}

.column {
    float: right;
    width: 50%;
    height: 150px;
    padding: 20px;
    overflow: scroll;
    
}

.row::after {
    content: "";
    display: table;
    clear: both;

}

.contact {
    background-color: white;
    margin-top: 10px;
    border: 20px;
    border-radius: 8px;

}

.contact-heading {
    position: sticky;
    padding: 10px;
    background-color: lightseagreen;
    margin: 25px;
    border-radius: 12px;
    text-align: center;
    color: white;
       
}

.footer {
    padding: 0px;
    text-align: center;
    background-color: lightseagreen;
    margin-top: 20px;
    border-radius: 14px;
    margin: 25px;
    
}

.paragraphs {
    font-size: 155%; 
    color: black;
    text-align: justify;

}

.headings {
    color: lightseagreen; 
    text-align: center;
    font-size: 155%;

}

.image-1 {
    float: left;
    margin: 1% 25px;
    width: 350px;
    height:320px;

}

.image-2 {
    float: left;
    margin: 1px;
    width: 250px; 
    height:250px;

}